h1{
    color: rgb(137, 27, 27);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    color: darkolivegreen;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(206, 204, 204);
    width:fit-content;
    padding: 5px;
}
div{
    border: 5PX solid tomato;
    margin: 10PX;
    padding: 10PX;
    border-radius: 5PX 3px 10px;
}
p{
    color: blueviolet;
    font-weight: 700;
}
#p1{
    color: brown;
}
#p2{
    text-align: justify;
    background-color: antiquewhite;
}
.gitpush{
    color: rgb(7, 94, 7);
    font-weight: 800;
}
.gun{
    color: rgb(169, 17, 169);
    background-color: rgba(228, 226, 226, 0.687);
    width: fit-content;
    padding: ;
}